@using PagedList.Mvc;
@using PagedList;

@model IEnumerable<MVC5Course.Models.Client>

@{
    ViewBag.Title = "Index";
    var data = Model as IPagedList;

    // 如果是 Ajax 呼叫，則不套用 Layout
    if (IsAjax)
    {
        Layout = "";
    }
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Clients1", FormMethod.Get))
{
    <text>
        @*@Html.ActionLink("Create New", "Create")*@
        篩選：
        @Html.DropDownList("CreditRatingFilter", "請選擇 CreditRating")
        @Html.DropDownList("LastNameFilter", "請選擇 LastName")
        <input type="submit" value="執行篩選" />
    </text>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditRating)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditRating)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
            </td>
        </tr>
    }

</table>

@*先產生好各頁超連結*@
@Html.PagedListPager(
    Model as IPagedList,
    (p) => Url.Action("Index",
    new {
        pageNo = p
    }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing("#Main")    // 增加 Ajax 換頁功能(加一個參數即可做到)
    )


@*先產生好各頁超連結 (外加傳入其他參數值)*@
@*@Html.PagedListPager(
    Model as IPagedList,
    (p) => Url.Action("Index",
    new
    {
        pageNo = p,
        CreditRatingFilter = Html.Value("CreditRatingFilter"),
        LastNameFilter = Html.Value("LastNameFilter")
    }))*@